<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>FAP Connect</title>
  <link rel="stylesheet" href="../styles/configuracoes.css">
  <link rel="stylesheet" href="../styles/sidebar.css">
  <link rel="stylesheet" href="../styles/chat.css">
  <link rel="icon" type="image/x-icon" href="../assete/fapconnect.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
  
  <nav class="menu-lateral-cfg">
      <span class="txt-link-cfg">Settings</span>
      <ul>
        <li class="lateral-config">
          <a href="../templates/cfg_perfil.html">
            <span class="icon"><i class="bi bi-pencil-square"></i></span>
            <span class="txt-link">Edit Profile</span>
          </a>
        </li>
        <li class="lateral-config">
          <a href="../templates/cfg_notificacao.html">
            <span class="icon"><i class="bi bi-bell"></i></span>
            <span class="txt-link">Notifications</span>
          </a>
        </li>
        <li class="lateral-config">
          <a href="../templates/cfg_seguranca.html" id="menuChat">
            <span class="icon"><i class="bi bi-lock"></i></span>
            <span class="txt-link">Security</span>
          </a>
        </li>
        <li class="lateral-config">
          <a href="../templates/aparencia.html">
            <span class="icon"><i class="bi bi-brilliance"></i></span>
            <span class="txt-link">Appearance</span>
          </a>
        </li>
      </ul> 
  </nav>
 
</body>
</html>
